@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    height: 100vh;
    font-family: 'Roboto';
}
.container{
    padding: 30px 10px;
    background-color: #020206;
    height: 100%;
}
.container h2{
    color: white;
    font-size: 25px;
    width: 70%;
}
.search{
    position: relative;
}
.search .search-icon{
    position: absolute;
    top:35px;
    left: 7px;
}
.search input{
    width: 100%;
    background-color: #1E1E1E;
    border: none;
    outline: none;
    padding: 17px 0;
    padding-left: 40px;
    font-size: 16px;
    border-radius: 8px;
    color: #ffff;
    margin-top: 20px;
}
.progress{
    margin-top: 30px;
}
.title{
    font-size: 22px;
    color: #ffff;
    margin: 15px 0;
}
.progress-task{
    padding: 10px;
    background-color: #181818;
    border-radius: 8px;
}
.progress-task p{
    margin: 10px 0;
    color: #ffff;
}
.progress-task .Daily-task{
    font-size: 18px;
}
.progress-task .Completed-tasks{
   opacity: 80%;
   font-size: 16px;
   font-weight: 300;
}
.progress-task .state{
    font-size: 14px;
    opacity: 80%;
    font-weight: 100;
}
.present{
    background-color: #BA83DE;
    opacity: 41%;
    border-radius: 20px;
    width: 100%;
    height: 18px;
   box-shadow: inset 1px 1px 20px black;
}
.present .present-bar{
    background-color: #BA83DE;
    opacity: 100%;
    width: 60%;
    height: 100%;
    border-radius: 20px;
}
.todays-task{
    margin-top: 30px;
}
.todays-task ul li{
    background-color: #1F1F1F;
    display: flex;
    border-radius: 8px;
    height: 78px;
    position: relative;
}
li .color-task{
    width: 4%;
    height: 100%;
    background-color: #FACBBA;
    border-radius: 8px 0 0 8px;
}
li .info-task {
   display: flex;
   flex-direction: column;
   width: 90%;
   gap: 5px;
   margin-left: 10px;
   align-self: center;
}
li .info-task .task-item{
   color: #ffff;
   font-size: 16px;
   font-weight: 300;
}
.task-history-info{
    display: flex;
    align-items: center;
    gap: 8px;
    
}
li .info-task .task-history{
   color: #ffff;
   opacity: 80%;
   font-size: 14px;
   font-weight: 100;
}
.icon-calender path{
    color: red;
}
.sign{
    width: 25px;
    height: 25px;
    border-radius: 50%;
    border: 2px solid #BA83DE ;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    right: 10px;
    top: 28px;

}
.add-task-Btn{
    width: 60px;
    height: 60px;
    outline: none;
    border: none;
    border-radius: 50%;
    background: linear-gradient(to right , #DE83B0 ,#C59ADF);
    box-shadow: inset 0px 4px 10px rgba(0,0,0,0.3);
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    bottom: 20px;
    right: 20px;
    cursor: pointer;
    
}
.header{
    margin-top: 20px;
    position: relative;
    padding: 10px;

}
.title-header{
    color: #ffff;
    font-size: 25px;
    font-weight: 300;
    text-align: center;
}
.back-home-page{
    position: absolute;
    cursor: pointer;
}
.scedule-section{
    margin-top: 30px;
}
.scedule-section p{
    margin: 10px 0;
    font-size: 22px;
    color: #ffff;

}
.scedule-section input ,textarea{
    margin: 8px 0;
    border-radius: 14px;
    padding: 20px 10px;
    width: 100%;
    background-color: #181818;
    border: none;
    outline: none;
}
textarea{
    resize: none;
}
input::placeholder , textarea::placeholder{
    color: #ffff;
    font-size: 16px;
    font-family: 'Roboto';
    opacity: 80%;
}