@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    height: auto;
    background-color: #020206;
    font-family: 'Roboto';

}
.container{
    padding: 30px 15px;
    height: 100%;
}
.container h2{
    color: white;
    font-size: 25px;
    width: 70%;
}
.home-page{
    position: relative;
}

.home-page .title-header{
    color: #ffff;
    font-size: 25px;
    font-weight: 300;
}
.search{
    position: relative;
}
.search .search-icon{
    position: absolute;
    top:35px;
    left: 7px;
}
.search input{
    width: 100%;
    background-color: #1E1E1E;
    border: none;
    outline: none;
    padding: 17px 0;
    padding-left: 40px;
    font-size: 16px;
    border-radius: 8px;
    color: #ffff;
    margin-top: 20px;
}
.progress{
    margin-top: 30px;
}
.title{
    font-size: 22px;
    color: #ffff;
    margin: 15px 0;
}
.progress-task{
    padding: 10px;
    padding-right: 25px;
    background-color: #181818;
    border-radius: 8px;
}
.progress-task p{
    margin-bottom: 8px;
    color: #ffff;
}
.progress-task .Daily-task{
    font-size: 18px;
}
.progress-task .Completed-tasks{
   opacity: 80%;
   font-size: 16px;
   font-weight: 300;
}
.section-state{
    display: flex;
    justify-content: space-between;
}
.section-state .stateinfo{
    font-size: 14px;
    opacity: 80%;
    font-weight: 100;
}
.section-state .statusPercentage{
    font-size: 18px;
}
.present{
   background-color: #BA83DE;
   /* opacity: 41%; */
   border-radius: 20px;
   width: 100%;
   height: 18px;
   box-shadow: inset 1px 1px 20px black;
}
.present .present-bar{
    background-color: #BA83DE;
    opacity: 100%;
    width: 0;
    height: 100%;
    border-radius: 20px;
}
.todays-task{
    margin-top: 30px;
}
.tasklist{
    max-height: 150px;
    overflow-y: auto;
}
 .tasklist li{
    background-color: #1F1F1F;
    display: flex;
    border-radius: 8px;
    height: 78px;
    margin: 10px 0;
    position: relative;
}
li .color-task{
    width: 4%;
    height: 100%;
    background-color: #FACBBA;
    border-radius: 8px 0 0 8px;
}
li .info-task {
   display: flex;
   flex-direction: column;
   width: 90%;
   gap: 5px;
   margin-left: 10px;
   align-self: center;
}
li .info-task .task-item{
   color: #ffff;
   font-size: 16px;
   font-weight: 300;
}
.task-history-info{
    display: flex;
    align-items: center;
    gap: 8px;
    
}
li .info-task .task-history{
   color: #ffff;
   opacity: 80%;
   font-size: 14px;
   font-weight: 100;
}
.icon-calender path{
    color: red;
}
.sign{
    width: 25px;
    height: 25px;
    border-radius: 50%;
    border: 2px solid #BA83DE ;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    right: 10px;
    top: 28px;
    background-color: transparent;

}
.add-task-Btn{
    width: 60px;
    height: 60px;
    outline: none;
    border: none;
    border-radius: 50%;
    background: linear-gradient(to right , #DE83B0 ,#C59ADF);
    box-shadow: inset 0px 4px 10px rgba(0,0,0,0.3);
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    bottom: 20px;
    right: 20px;
    cursor: pointer;
    
}
.header{
    margin-top: 20px;
    position: relative;
    padding: 10px;

}
.header .title-header{
    color: #ffff;
    font-size: 25px;
    font-weight: 300;
    text-align: center;
}
.back-home-page{
    position: absolute;
    cursor: pointer;
}
.scedule-section{
    margin-top: 30px;
}
.scedule-section p{
    margin: 10px 0;
    font-size: 22px;
    color: #ffff;
    position: relative;
}
.scedule-section input ,textarea{
    margin: 8px 0;
    border-radius: 14px;
    padding: 20px 10px;
    width: 100%;
    background-color: #181818;
    border: none;
    outline: none;
    color: #ffff;
}
textarea{
    resize: none;
}
input::placeholder , textarea::placeholder{
    color: #ffff;
    font-size: 16px;
    font-family: 'Roboto';
    opacity: 80%;
}
.headerDate{
    color: #BA83DE;
    display: flex;
    justify-content: space-between;
    font-size: 20px;
}
.sectiondate{
    margin-top: 30px;
}
.dayWeeks{
    display: flex;
    justify-content: space-between;
    color: #ffff;
    margin-top: 40px;
    font-size: 15px;
    font-weight: bold;
}
.day{
    width: 58px;
    height: 70px;
    line-height: 25px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 60%;
    text-align: center;
}
.active{
    border: 2px solid #BA83DE;
    border-radius: 10px;
    transition: 0.3s;
    color: #BA83DE;
    opacity: 100%;
}
.dayWeeks .active::after {
    content: " ";
    position: absolute;
    border-radius: 50%;
    width: 10px;
    height: 10px;
    background-color: #BA83DE;
    bottom: -5px;
    left: 40%;
}
.section-time {
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
}
.Time{
    width: 49%;

}
.Time p , .priorityTitle{
    font-size: 20px;
    width: 100%;
    color: #ffff;
    opacity: 70%;
    margin: 10px 0;
}
.set-Time{
    position: relative;
    height: 58px;
    border-radius: 14px;
    background-color: #181818;
    padding-left: 40px;
    
}
.set-Time input[type ="time"]{
    direction: ltr;
    color: #ffff;
    opacity: 60%;
    font-size: 18px;
    background-color: transparent;
    width: 100%;
    height: 100%;
    outline: none;
    border: none;
    text-align: left;
}
.set-Time input[type="time"]::-webkit-calendar-picker-indicator{
    opacity: 0;
    pointer-events: none; 
}
.set-Time svg{
    width: 25px;
    color: #BA83DE;
    position: absolute;
    left: 10px;
    top: 15px;
}
.section-priorityTask{
    margin-top: 30px;
}
.buttons button{
    width: 32%;
    height: 40px;
    outline: none;
    border: 2px solid ;
    border-radius: 8px;
    cursor: pointer;
    background-color: transparent;
    color: #ffff;
    font-size: 20px;
}
.buttons #hight{
    border-color: #FACBBA;
}
.buttons #medium{
    border-color: #D7F0FF;
    background-color: #D7F0FF;
    color: #020206;

}
.buttons #low{
    border-color: #FAD9FF;
}
#create-task-button{
    outline: none;
    border: none;
    color: #ffff;
    font-size: 16px;
    width: 100%;
    padding: 13px 0;
    border-radius: 8px;
    margin-top: 30px;
    background: linear-gradient(to right , #BA83DE ,#DE83B0);
    position: relative;
    bottom: -12px;
    cursor: pointer;
    
}
.done{
    background-color: #BA83DE;
    border: 1px solid black;
}
.buttons-edit-delete{
    margin-top: 30px;
}
.buttons-edit-delete button{
   width: 48%;
   height: 50px;
   cursor: pointer; 
   border-radius: 8px;
   outline: none;
   border: none;
   font-size: 16px;
   color: #ffff;
}
#editTask{
  background: linear-gradient(to right , #BA83DE ,#DE83B0);
}
#DeleteTask{
    background-color: #4F4F4F;
    color: #ffff;
    margin-left: 6px;
}
.header-tasklist{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header-tasklist .seeAll_task{
    color: #BA83DE;
    cursor: pointer;
    opacity: 80%;
}