@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    height: 100vh;
    font-family: 'Roboto';
}
.container{
    padding: 30px 10px;
    background-color: #020206;
    height: 100%;
}
.container h2{
    color: white;
    font-size: 25px;
    width: 70%;
}
.search{
    position: relative;
}
.search .search-icon{
    position: absolute;
    top:35px;
    left: 7px;
}
.search input{
    width: 100%;
    background-color: #1E1E1E;
    border: none;
    outline: none;
    padding: 17px 0;
    padding-left: 40px;
    font-size: 16px;
    border-radius: 8px;
    color: #ffff;
    margin-top: 20px;
}
.progress{
    margin-top: 30px;
}
.progress .title{
    font-size: 22px;
    color: #ffff;
    margin: 15px 0;
}
.progress-task{
    padding: 10px;
    background-color: #181818;
    border-radius: 8px;
}
.progress-task p{
    margin: 10px 0;
    color: #ffff;
}
.progress-task .Daily-task{
    font-size: 18px;
}
.progress-task .Completed-tasks{
   opacity: 80%;
   font-size: 16px;
   font-weight: 300;
}
.progress-task .state{
    font-size: 14px;
    opacity: 80%;
    font-weight: 100;
}
.present{
    background-color: #BA83DE;
    opacity: 41%;
    border-radius: 20px;
    width: 100%;
    height: 18px;
   box-shadow: inset 1px 1px 20px black;
}
.present .present-bar{
    background-color: #BA83DE;
    opacity: 100%;
    width: 60%;
    height: 100%;
    border-radius: 20px;
}